@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 300;
  src: local("Source Sans Pro Light"), local("SourceSansPro-Light"),
    url("../fonts/source-sans-pro-v12-cyrillic_latin-300.woff2") format("woff2"),
    url("../fonts/source-sans-pro-v12-cyrillic_latin-300.woff") format("woff");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"),
    url("../fonts/source-sans-pro-v12-cyrillic_latin-regular.woff2")
      format("woff2"),
    url("../fonts/source-sans-pro-v12-cyrillic_latin-regular.woff")
      format("woff");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src: local("Source Sans Pro SemiBold"), local("SourceSansPro-SemiBold"),
    url("../fonts/source-sans-pro-v12-cyrillic_latin-600.woff2") format("woff2"),
    url("../fonts/source-sans-pro-v12-cyrillic_latin-600.woff") format("woff");
}
html {
  height: 100%;
}
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: #252626;

  &.scroll-off {
    overflow: hidden;
  }
}
ul {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.hidden {
  display: none;
}

.wrapper {
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;

  & > nav {
    flex: none !important;
    min-width: 50px;
  }

  & > main {
    flex: 1;
  }
  @media (min-width: 1024px) {
    display: flex;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
  }
}
.sidebar {
  display: none;
  margin: 0;
  overflow: auto;
  background-color: #edf0f7;
  border-top: 1px solid #acacac;
  max-width: 500px;
  width: 100%;

  @media (min-width: 1024px) {
    display: block;
    border-top: none;
    align-self: flex-start;
    overflow: auto;
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &.active {
    display: block;
  }
}

.sidebar__list {
  @media (min-width: 1024px) {
    margin-top: 0;
    padding: 100px 12px;
    //overflow: hidden;
  }
}

.sidebar__list.nested {
  @media (min-width: 1024px) {
    margin-top: 0;
    padding: 0;
    grid-area: sub-list;
  }
}

.sidebar__item {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 22px 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "sidebar-icon link"
    "sub-list sub-list";
  padding: 0 40px 0 12px;
  margin: 2px 0;
  position: relative;
  border-radius: 4px;

  a {
    grid-area: link;
    min-height: 22px;
    padding: 10px 0;
    font-size: 20px;
    line-height: 22px;
    font-family: inherit;
    color: inherit;
    text-decoration: none;
    white-space: nowrap;
    z-index: 1;
    overflow: hidden;
    font-weight: 600;
    color: #6a6a6e;
    display: block;

    @media (min-width: 1024px) {
      font-size: 18px;
      min-height: 22px;
      box-sizing: border-box;
      padding: 10px 0;
      width: 100%;
      margin: 0 0 0 10px;
    }
  }
  .sidebar__icon {
    grid-area: sidebar-icon;
    justify-self: start;
    width: 22px;
    height: 22px;
  }
  .sidebar__arrow {
    grid-area: link-arrow;
    width: 7px;
    height: auto;
    justify-self: end;
  }

  &:hover {
    background-color: #dfe2eb;
  }
  .drop.opened {
    &:after {
      transform: rotate(90deg);
      width: 46px;
      height: 20px;
      background-position: top center;
      top: 14px;
      right: -3px;
    }
  }
  .drop {
    &:after {
      content: "";
      position: absolute;
      right: 4px;
      top: 0;
      background: url("../img/more-arrow.svg");
      background-size: 7px;
      background-repeat: no-repeat;
      background-position: center;
      width: 20px;
      height: 46px;
      z-index: 2;
    }
  }
}
.drop.opened {
  background-color: #dfe2eb;
  &:after {
    transform: rotate(90deg);
    width: 46px;
    height: 16px;
    background-position: top center;
    top: 14px;
    right: -3px;
  }
}
.drop {
  &:after {
    content: "";
    position: absolute;
    right: 4px;
    top: 0;
    background: url("../img/more-arrow.svg");
    background-size: 7px;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 42px;
    z-index: 2;
  }
}

.sidebar__list.nested {
  margin: 12px -10px 0 32px;
  .sidebar__item {
    padding: 0;
    display: block;

    a {
      font-weight: 400;
      padding: 4px 0;
      margin: 0;
      display: block;

      &:hover {
        text-decoration: underline;
      }
    }

    &:last-child {
      padding: 0 0 12px;
    }
    &:hover {
      background-color: gray;
    }
  }
  .drop {
    &:after {
      right: -20px;
      top: 0;
      background-position: right center;
      width: 20px;
      height: 30px;
      z-index: 2;
    }
  }
  .drop.opened {
    &:after {
      background-position: center;

      right: -24px;
    }
  }
}

.main {
  position: relative;
  margin: 0 auto;

  @media (min-width: 1024px) {
    max-width: none;
    width: 100%;
    overflow: auto;
    padding: 80px 0 0;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0 24px;
  background-color: #fff;

  @media (min-width: 1024px) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 58px;
    -webkit-box-shadow: 0px 4px 6px -6px rgba(34, 60, 80, 0.4);
    -moz-box-shadow: 0px 4px 6px -6px rgba(34, 60, 80, 0.4);
    box-shadow: 0px 4px 6px -6px rgba(34, 60, 80, 0.4);
  }
}

h1 {
  font-size: 40px;
  font-weight: 600;
}
h2 {
  font-size: 30px;
  font-weight: 600;
}
h3 {
  font-size: 22px;
  font-weight: 400;
}

.header__button {
  position: absolute;
  top: 18px;
  left: 16px;
  width: 32px;
  height: 32px;
  font-size: 0;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 1a1 1 0 011-1h18a1 1 0 110 2H1a1 1 0 01-1-1zm0 8a1 1 0 011-1h14a1 1 0 110 2H1a1 1 0 01-1-1zm1 7a1 1 0 100 2h18a1 1 0 100-2H1z' fill='%236A6A6E'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  border: none;

  @media (min-width: 1024px) {
    display: none;
  }
}

.header__logo {
  width: 280px;
  height: auto;
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.content {
  padding: 0 16px 0 0;
  box-sizing: border-box;

  @media (min-width: 1024px) {
    padding-bottom: 40px;
  }
}

.table {
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }

  table {
    min-width: 100vw;
    border-collapse: collapse;
    table-layout: fixed;

    @media (min-width: 1024px) {
      width: 100%;
      min-width: auto;
      table-layout: auto;
      overflow: hidden;
    }
  }

  thead {
    background-color: #edf0f7;
    border-bottom: 1px solid #dbdfe9;
  }
  thead th {
    border-right: 1px solid #dbdfe9;
    &:last-child {
      border-right: none;
    }
  }

  tbody tr {
    border-top: 1px solid #dbdfe9;

    &:first-child {
      border-top: none;
    }
  }

  tbody td {
    border-right: 1px solid #dbdfe9;
    &:last-child {
      border-right: none;
    }
  }

  tbody td:first-child {
    font-weight: 600;
    width: 20%;
  }

  th {
    padding: 11px 16px;
    text-align: left;
  }

  td {
    box-sizing: border-box;
    padding: 11px 16px;
    font-size: 14px;
    white-space: nowrap;

    @media (min-width: 1024px) {
      font-size: 16px;
      white-space: normal;
    }
  }
}

.table__wrapper {
  display: inline-block;

  @media (min-width: 1024px) {
    width: 100%;
    border: 1px solid #dbdfe9;
    border-radius: 4px;
  }
}

.title {
  box-sizing: border-box;
  margin-top: 28px;
  margin-bottom: 16px;
  padding-right: 16px;
  padding-left: 16px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.subtitle {
  box-sizing: border-box;
  margin-top: 24px;
  margin-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #5b5c5f;
}

.link {
  display: inline-block;
  color: #3b91e0;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.description {
  line-height: 24px;
}

.code-listing {
  font-size: 14px;
  font-family: Consolas, Monaco, "Andale Mono", "Lucida Console", monospace;
  hyphens: none;
  background-color: #edf0f7;
  border-radius: 4px;

  pre {
    margin: 0;
    padding-right: 16px;
    padding-left: 16px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;

    @media (max-width: 1025px) {
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

.resize-handle--x {
  flex: none;
  position: relative;
  box-sizing: border-box;
  width: 20px;
  margin: 0 6px;
  height: 100%;
  cursor: col-resize;
  -webkit-touch-callout: none;
  user-select: none;
  background-image: url("../img/resize-icon.svg");
  background-position: center;
  background-size: 12px;
  background-repeat: no-repeat;
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}
