@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 300;
  src: local("Source Sans Pro Light"), local("SourceSansPro-Light"),
    url("../fonts/source-sans-pro-v12-cyrillic_latin-300.woff2") format("woff2"),
    url("../fonts/source-sans-pro-v12-cyrillic_latin-300.woff") format("woff");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"),
    url("../fonts/source-sans-pro-v12-cyrillic_latin-regular.woff2")
      format("woff2"),
    url("../fonts/source-sans-pro-v12-cyrillic_latin-regular.woff")
      format("woff");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src: local("Source Sans Pro SemiBold"), local("SourceSansPro-SemiBold"),
    url("../fonts/source-sans-pro-v12-cyrillic_latin-600.woff2") format("woff2"),
    url("../fonts/source-sans-pro-v12-cyrillic_latin-600.woff") format("woff");
}
html {
  height: 100%;
}
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: #252626;

  &.scroll-off {
    overflow: hidden;
  }
}
ul {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.hidden {
  display: none !important;
}

.wrapper {
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;

  & > nav {
    flex: none;
    min-width: 50px;
  }

  & > main {
    flex: 1;
  }
  @media (min-width: 1024px) {
    display: flex;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
  }
}
.active-anchor {
  color: #3b91e0 !important;
  background-color: #dfe2eb;
}

.main {
  position: relative;
  margin: 0 auto;

  @media (min-width: 1024px) {
    max-width: none;
    width: 100%;
    overflow: auto;
    // padding: 80px 0 0;
    margin: 58px 0 0;
    // padding: 22px 0 0;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0 24px;
  background-color: white;

  @media (min-width: 1024px) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 58px;
    -webkit-box-shadow: 0px 4px 6px -6px rgba(34, 60, 80, 0.4);
    -moz-box-shadow: 0px 4px 6px -6px rgba(34, 60, 80, 0.4);
    box-shadow: 0px 4px 6px -6px rgba(34, 60, 80, 0.4);
  }
}

h1 {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
}
h2 {
  font-size: 30px;
  font-weight: 600;
  margin: 30px 0 15px;
}
h3 {
  font-size: 22px;
  font-weight: 400;
  margin: 30px 0 15px;
}

.divider {
  width: 100%;
  height: 40px;
}

.header__button {
  position: absolute;
  top: 18px;
  left: 16px;
  width: 32px;
  height: 32px;
  font-size: 0;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 1a1 1 0 011-1h18a1 1 0 110 2H1a1 1 0 01-1-1zm0 8a1 1 0 011-1h14a1 1 0 110 2H1a1 1 0 01-1-1zm1 7a1 1 0 100 2h18a1 1 0 100-2H1z' fill='%236A6A6E'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  border: none;

  @media (min-width: 1024px) {
    display: none;
  }
}

.header__logo {
  width: 284px;
  height: auto;
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.content {
  padding: 0 16px 0 0;
  box-sizing: border-box;

  @media (min-width: 1024px) {
    padding-bottom: 40px;
  }
}

.table {
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }

  table {
    min-width: 100vw;
    border-collapse: collapse;
    table-layout: fixed;

    @media (min-width: 1024px) {
      width: 100%;
      min-width: auto;
      table-layout: auto;
      overflow: hidden;
    }
  }

  thead {
    background-color: #edf0f7;
    border-bottom: 1px solid #dbdfe9;
  }
  thead th {
    border-right: 1px solid #dbdfe9;
    &:last-child {
      border-right: none;
    }
  }

  tbody tr {
    border-top: 1px solid #dbdfe9;

    &:first-child {
      border-top: none;
    }
  }

  tbody td {
    border-right: 1px solid #dbdfe9;
    &:last-child {
      border-right: none;
    }
  }

  tbody td:first-child {
    font-weight: 600;
    width: 20%;
  }

  th {
    padding: 11px 16px;
    text-align: left;
  }

  td {
    box-sizing: border-box;
    padding: 11px 16px;
    font-size: 14px;
    white-space: nowrap;

    @media (min-width: 1024px) {
      font-size: 16px;
      white-space: normal;
    }
  }
}

.table__wrapper {
  display: inline-block;

  @media (min-width: 1024px) {
    width: 100%;
    border: 1px solid #dbdfe9;
    border-radius: 4px;
  }
}

.title {
  box-sizing: border-box;
  margin-top: 28px;
  margin-bottom: 16px;
  padding-right: 16px;
  padding-left: 16px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.subtitle {
  box-sizing: border-box;
  margin-top: 24px;
  margin-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #5b5c5f;
}

.link {
  display: inline-block;
  color: #3b91e0;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.description {
  line-height: 24px;
}

.code-listing {
  font-size: 14px;
  font-family: Consolas, Monaco, "Andale Mono", "Lucida Console", monospace;
  hyphens: none;
  background-color: #edf0f7;
  border-radius: 4px;

  pre {
    margin: 0;
    padding-right: 16px;
    padding-left: 16px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    @media (max-width: 1025px) {
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

.resize-handle--x {
  flex: none;
  position: relative;
  box-sizing: border-box;
  width: 20px;
  margin: 0 6px;
  height: 100%;
  cursor: col-resize;
  -webkit-touch-callout: none;
  user-select: none;
  background-image: url("../img/resize-icon.svg");
  background-position: center;
  background-size: 12px;
  background-repeat: no-repeat;
}

// ************************************************************************************************************************

#sidebar {
  align-self: flex-start;
  overflow: auto;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  white-space: nowrap;
  background-color: #edf0f7;

  &::-webkit-scrollbar {
    display: none;
  }
}

.sidebar-menu {
  height: auto;
  flex: none;
  min-width: 50px;
  list-style: none;
  margin: 0;
  padding: 80px 12px 0;

  > li {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;

    > a {
      padding: 12px 28px 12px 12px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 0 10px;
      border-radius: 4px;
      font-size: 18px;
      line-height: 1;
      font-weight: 600;
      color: #6a6a6e;
      font-family: inherit;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;

      span {
        overflow: hidden;
        justify-self: flex-start;
      }
    }

    &:hover > a {
      background-color: #dfe2eb;
    }

    > .treeview-menu {
      margin: 0;
    }
  }

  li > a svg {
    width: 22px;
    height: 22px;
    flex: 0 0 22px;
  }
}

.sidebar-menu li > a.multilevel {
  position: relative;
  .more-arrow {
    width: 22px;
    height: 22px;
    margin-right: 0;
    margin-left: auto;
    position: absolute;
    right: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 6px;
      height: 16px;

      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      -o-transition: all 0.1s ease-in-out;
      -ms-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;
    }
  }
}

.sidebar-menu li.active > a.multilevel .more-arrow {
  right: 3px;
  img {
    transform: rotate(90deg);
  }
}
.sidebar-menu {
  li {
    &.active > {
      .treeview-menu {
        display: block;
      }
    }
  }

  a {
    color: #252626;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 10px 0 10px 5px;

    .treeview-menu {
      padding: 10px 0 10px 20px;
    }

    > li {
      margin: 0;

      > a {
        padding: 6px 28px 6px 40px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-size: 16px;
        color: #252626;

        span {
          overflow: hidden;
        }
      }

      &.active > a,
      > a:hover {
        color: #3b91e0;
      }
    }
  }
}

a.active-anchor svg * {
  fill: #3b91e0;
}
